<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">FDC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#fdcNavbar" aria-controls="fdcNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="fdcNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/calendar">Calendar</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/dinners">Dinners</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/shopping">Shopping</a>
        </li>
      </ul>
    </div>
  </div>
</nav>